
body {
  background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  margin: 10% 8%
}

.main-header {
  text-transform: 
}

.work-experience-header {
  text-transform: uppercase;
  text-decoration: underline;
    text-align: center;
}

.skills-header {
  text-transform: uppercase;
  text-decoration: underline;
    text-align: center;
}

.Military-header {
  text-transform: uppercase;
  text-decoration: underline;
    text-align: center;
}


